.popup__ocupation-input {
    color: #000;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 358px;
    height: 28px;
    margin: 0 0 48px;
    padding: 0;
    outline: none;
}