.header__logo {
    background-image: url('../../../images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 142px;
    height: 34px;
    margin: 0;
}

@media screen and (max-width: 440px){
    .header__logo {
        width: 104px;
        height: 24px;
    }
}